@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:blue"><b><i>Welcome to the movies home</i></b></h1>
    <img class="display-1" src="/img/MainBackgroung.jpg" alt="...">
</div>
