@model IEnumerable<Movies.Models.Movie>

@{
    ViewData["Title"] = "List";
}
@{
    Layout = "_Layout";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row mt-5 mb-4">
    @foreach (var item in Model)
    {
        @Html.Partial("Movie", item)
    }
</div>