@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav mr-5">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="MoviesHome" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="MoviesHome" asp-action="Privacy">Privacy</a>
        </li>
        <li>
            <a class="navbar-brand" asp-area="" asp-controller="Movie" asp-action="List">Movies</a>
        </li>
        @if (User.IsInRole("Admin"))
        {
            <li>
                <a class="navbar-brand" asp-area="" asp-controller="Actor" asp-action="Index">Actors</a>
            </li>
            <li>
                <a class="navbar-brand" asp-area="" asp-controller="Cinema" asp-action="Index">Cinemas</a>
            </li>
            <li>
                <a class="navbar-brand" asp-area="" asp-controller="Adress" asp-action="Index">Addresses</a>
            </li>
            <li>
                <a class="navbar-brand" asp-area="" asp-controller="Seat" asp-action="Index">Seats</a>
            </li>
        }
    }
    else
    {

    }
</ul>


